# TODO: Sort me (while preserving the meaning of the negative rules).
*.a
*.astylebak
*.astylebak.*
*.la
*.lang
*.lo
*.log
*.o
*.trs
*~
.deps/
.dirstamp
.vscode
aclocal.m4
autom4te.cache/
btlayer-*
cfgaux/
compat/testPreCompiler
config.status
configure
doc/Programming-Guide/html/
errors/translate-warn
include/autoconf.h
include/autoconf.h.in
include/stamp-h1
lib/tests/testRFC1738
libltdl
libtool
Makefile
!contrib/nextstep/Makefile
!doc/Programming-Guide/Makefile
Makefile.in
SPONSORS
src/acl/external/delayer/ext_delayer_acl
src/acl/external/delayer/ext_delayer_acl.8
src/acl/external/file_userip/ext_file_userip_acl
src/acl/external/kerberos_ldap_group/ext_kerberos_ldap_group_acl
src/acl/external/kerberos_sid_group/ext_kerberos_sid_group_acl
src/acl/external/kerberos_sid_group/ext_kerberos_sid_group_acl.8
src/acl/external/SQL_session/ext_sql_session_acl
src/acl/external/SQL_session/ext_sql_session_acl.8
src/acl/external/unix_group/ext_unix_group_acl
src/acl/external/wbinfo_group/ext_wbinfo_group_acl
src/acl/external/wbinfo_group/ext_wbinfo_group_acl.8
src/anyp/ProtocolType.cc
src/auth/basic/DB/basic_db_auth
src/auth/basic/DB/basic_db_auth.8
src/auth/basic/fake/basic_fake_auth
src/auth/basic/getpwnam/basic_getpwnam_auth
src/auth/basic/NCSA/basic_ncsa_auth
src/auth/basic/NIS/basic_nis_auth
src/auth/basic/POP3/basic_pop3_auth
src/auth/basic/POP3/basic_pop3_auth.8
src/auth/basic/RADIUS/basic_radius_auth
src/auth/basic/SMB/basic_smb_auth
src/auth/CredentialState.cc
src/auth/digest/file/digest_file_auth
src/auth/negotiate/kerberos/negotiate_kerberos_auth
src/auth/negotiate/kerberos/negotiate_kerberos_auth_test
src/auth/negotiate/wrapper/negotiate_wrapper_auth
src/auth/ntlm/fake/ntlm_fake_auth
src/auth/Type.cc
src/cf.data
src/cf_gen
src/cf_gen_defines.cci
src/cf_parser.cci
src/DiskIO/DiskDaemon/diskd
src/DiskIO/DiskDaemon/time.cc
src/err_detail_type.cc
src/err_type.cc
src/globals.cc
src/hier_code.cc
src/http/MethodType.cc
src/http/url_rewriters/fake/url_fake_rewrite
src/http/url_rewriters/LFS/url_lfs_rewrite
src/http/url_rewriters/LFS/url_lfs_rewrite.8
src/icp_opcode.cc
src/log/DB/log_db_daemon
src/log/DB/log_db_daemon.8
src/log/file/log_file_daemon
src/lookup_t.cc
src/repl_modules.cc
src/security/cert_generators/file/security_file_certgen
src/security/cert_generators/file/security_file_certgen.8
src/security/cert_validators/fake/security_fake_certverify
src/security/cert_validators/fake/security_fake_certverify.8
src/squid
src/squid.8
src/squid.conf.default
src/squid.conf.documented
src/store/id_rewriters/file/storeid_file_rewrite
src/store/id_rewriters/file/storeid_file_rewrite.8
src/swap_log_op.cc
src/test_tools.cc
src/tests/test_http_range
src/tests/testACLMaxUserIP
src/tests/testBoilerplate
src/tests/testCacheManager
src/tests/testCharacterSet
src/tests/testConfigParser
src/tests/testDiskIO
src/tests/testDns
src/tests/testEnumIterator
src/tests/testEvent
src/tests/testEventLoop
src/tests/testHttp1Parser
src/tests/testHttpReply
src/tests/testHttpRequest
src/tests/testIcmp
src/tests/testIpAddress
src/tests/testLookupTable
src/tests/testMem
src/tests/testNetDb
src/tests/testRefCount
src/tests/testRock
src/tests/testSBuf
src/tests/testSBufList
src/tests/testStatHist
src/tests/testStore
src/tests/testString
src/tests/testTokenizer
src/tests/testUfs
src/tests/testURL
src/tests/testYesNoNone
src/unlinkd
test-suite/debug
test-suite/ESIExpressions
test-suite/mem_hdr_test
test-suite/mem_node_test
test-suite/MemPoolTest
test-suite/splay
test-suite/squid-conf-tests
test-suite/STUB.h
test-suite/stub_cbdata.cc
test-suite/stub_debug.cc
test-suite/stub_fatal.cc
test-suite/stub_libmem.cc
test-suite/stub_MemBuf.cc
test-suite/stub_SBuf.cc
test-suite/stub_tools.cc
test-suite/syntheticoperators
test-suite/VirtualDeleteOperator
testHeaders
tools/cachemgr.cgi
tools/cachemgr.cgi.8
tools/CharacterSet.cc
tools/CharacterSet.cc
tools/helper-mux/helper-mux
tools/helper-mux/helper-mux.8
tools/Here.cc
tools/MemBuf.cc
tools/purge/purge
tools/squidclient/squidclient
tools/squidclient/STUB.h
tools/squidclient/stub_debug.cc
tools/squidclient/stub_libmem.cc
tools/squidclient/test_tools.cc
tools/squidclient/time.cc
tools/STUB.h
tools/stub_cbdata.cc
tools/stub_debug.cc
tools/stub_libmem.cc
tools/stub_mem.cc
tools/test_tools.cc
tools/time.cc
