/* Stylesheet for Squid Error pages */

/* Page basics */
html body {
	background-color: #ffffff;
	font-family: verdana,sans-serif;
}

/* Page displayed title area */
#titles {
}

/* initial title */
#titles h1 {
}
#titles h2 {
}

/* special event: FTP success page titles */
#titles ftpsuccess {
	background-color:#00ff00;
	width:100%;
}

/* Page displayed body content area */
#content {
}

/* General text */
p {
}

/* error brief description */
#error p {
}

/* some data which may have caused the problem */
#data {
}

/* the error message received from the system or other software */
#sysmsg {
}

pre {
    font-family:sans-serif;
}

/* horizontal lines */
hr {
}

/* page displayed footer area */
#footer {
	width: 100%;
}
